@font-face {
  font-family: 'entypo';
  src:  url('entypo.eot?a05epa');
  src:  url('entypo.eot?a05epa#iefix') format('embedded-opentype'),
    url('entypo.ttf?a05epa') format('truetype'),
    url('entypo.woff?a05epa') format('woff'),
    url('entypo.svg?a05epa#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icons2-"], [class*=" icons2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'entypo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons2-add-to-list:before {
  content: "\e900";
}
.icons2-classic-computer:before {
  content: "\e901";
}
.icons2-controller-fast-backward:before {
  content: "\e902";
}
.icons2-creative-commons-attribution:before {
  content: "\e903";
}
.icons2-creative-commons-noderivs:before {
  content: "\e904";
}
.icons2-creative-commons-noncommercial-eu:before {
  content: "\e905";
}
.icons2-creative-commons-noncommercial-us:before {
  content: "\e906";
}
.icons2-creative-commons-public-domain:before {
  content: "\e907";
}
.icons2-creative-commons-remix:before {
  content: "\e908";
}
.icons2-creative-commons-share:before {
  content: "\e909";
}
.icons2-creative-commons-sharealike:before {
  content: "\e90a";
}
.icons2-creative-commons:before {
  content: "\e90b";
}
.icons2-document-landscape:before {
  content: "\e90c";
}
.icons2-remove-user:before {
  content: "\e90d";
}
.icons2-warning:before {
  content: "\e90e";
}
.icons2-arrow-bold-down:before {
  content: "\e90f";
}
.icons2-arrow-bold-left:before {
  content: "\e910";
}
.icons2-arrow-bold-right:before {
  content: "\e911";
}
.icons2-arrow-bold-up:before {
  content: "\e912";
}
.icons2-arrow-down:before {
  content: "\e913";
}
.icons2-arrow-left:before {
  content: "\e914";
}
.icons2-arrow-long-down:before {
  content: "\e915";
}
.icons2-arrow-long-left:before {
  content: "\e916";
}
.icons2-arrow-long-right:before {
  content: "\e917";
}
.icons2-arrow-long-up:before {
  content: "\e918";
}
.icons2-arrow-right:before {
  content: "\e919";
}
.icons2-arrow-up:before {
  content: "\e91a";
}
.icons2-arrow-with-circle-down:before {
  content: "\e91b";
}
.icons2-arrow-with-circle-left:before {
  content: "\e91c";
}
.icons2-arrow-with-circle-right:before {
  content: "\e91d";
}
.icons2-arrow-with-circle-up:before {
  content: "\e91e";
}
.icons2-bookmark:before {
  content: "\e91f";
}
.icons2-bookmarks:before {
  content: "\e920";
}
.icons2-chevron-down:before {
  content: "\e921";
}
.icons2-chevron-left:before {
  content: "\e922";
}
.icons2-chevron-right:before {
  content: "\e923";
}
.icons2-chevron-small-down:before {
  content: "\e924";
}
.icons2-chevron-small-left:before {
  content: "\e925";
}
.icons2-chevron-small-right:before {
  content: "\e926";
}
.icons2-chevron-small-up:before {
  content: "\e927";
}
.icons2-chevron-thin-down:before {
  content: "\e928";
}
.icons2-chevron-thin-left:before {
  content: "\e929";
}
.icons2-chevron-thin-right:before {
  content: "\e92a";
}
.icons2-chevron-thin-up:before {
  content: "\e92b";
}
.icons2-chevron-up:before {
  content: "\e92c";
}
.icons2-chevron-with-circle-down:before {
  content: "\e92d";
}
.icons2-chevron-with-circle-left:before {
  content: "\e92e";
}
.icons2-chevron-with-circle-right:before {
  content: "\e92f";
}
.icons2-chevron-with-circle-up:before {
  content: "\e930";
}
.icons2-cloud:before {
  content: "\e931";
}
.icons2-controller-fast-forward:before {
  content: "\e932";
}
.icons2-controller-jump-to-start:before {
  content: "\e933";
}
.icons2-controller-next:before {
  content: "\e934";
}
.icons2-controller-paus:before {
  content: "\e935";
}
.icons2-controller-play:before {
  content: "\e936";
}
.icons2-controller-record:before {
  content: "\e937";
}
.icons2-controller-stop:before {
  content: "\e938";
}
.icons2-controller-volume:before {
  content: "\e939";
}
.icons2-dot-single:before {
  content: "\e93a";
}
.icons2-dots-three-horizontal:before {
  content: "\e93b";
}
.icons2-dots-three-vertical:before {
  content: "\e93c";
}
.icons2-dots-two-horizontal:before {
  content: "\e93d";
}
.icons2-dots-two-vertical:before {
  content: "\e93e";
}
.icons2-download:before {
  content: "\e93f";
}
.icons2-emoji-flirt:before {
  content: "\e940";
}
.icons2-flow-branch:before {
  content: "\e941";
}
.icons2-flow-cascade:before {
  content: "\e942";
}
.icons2-flow-line:before {
  content: "\e943";
}
.icons2-flow-parallel:before {
  content: "\e944";
}
.icons2-flow-tree:before {
  content: "\e945";
}
.icons2-install:before {
  content: "\e946";
}
.icons2-layers:before {
  content: "\e947";
}
.icons2-open-book:before {
  content: "\e948";
}
.icons2-resize-100:before {
  content: "\e949";
}
.icons2-resize-full-screen:before {
  content: "\e94a";
}
.icons2-save:before {
  content: "\e94b";
}
.icons2-select-arrows:before {
  content: "\e94c";
}
.icons2-sound-mute:before {
  content: "\e94d";
}
.icons2-sound:before {
  content: "\e94e";
}
.icons2-trash:before {
  content: "\e94f";
}
.icons2-triangle-down:before {
  content: "\e950";
}
.icons2-triangle-left:before {
  content: "\e951";
}
.icons2-triangle-right:before {
  content: "\e952";
}
.icons2-triangle-up:before {
  content: "\e953";
}
.icons2-uninstall:before {
  content: "\e954";
}
.icons2-upload-to-cloud:before {
  content: "\e955";
}
.icons2-upload:before {
  content: "\e956";
}
.icons2-add-user:before {
  content: "\e957";
}
.icons2-address:before {
  content: "\e958";
}
.icons2-adjust:before {
  content: "\e959";
}
.icons2-air:before {
  content: "\e95a";
}
.icons2-aircraft-landing:before {
  content: "\e95b";
}
.icons2-aircraft-take-off:before {
  content: "\e95c";
}
.icons2-aircraft:before {
  content: "\e95d";
}
.icons2-align-bottom:before {
  content: "\e95e";
}
.icons2-align-horizontal-middle:before {
  content: "\e95f";
}
.icons2-align-left:before {
  content: "\e960";
}
.icons2-align-right:before {
  content: "\e961";
}
.icons2-align-top:before {
  content: "\e962";
}
.icons2-align-vertical-middle:before {
  content: "\e963";
}
.icons2-archive:before {
  content: "\e964";
}
.icons2-area-graph:before {
  content: "\e965";
}
.icons2-attachment:before {
  content: "\e966";
}
.icons2-awareness-ribbon:before {
  content: "\e967";
}
.icons2-back-in-time:before {
  content: "\e968";
}
.icons2-back:before {
  content: "\e969";
}
.icons2-bar-graph:before {
  content: "\e96a";
}
.icons2-battery:before {
  content: "\e96b";
}
.icons2-beamed-note:before {
  content: "\e96c";
}
.icons2-bell:before {
  content: "\e96d";
}
.icons2-blackboard:before {
  content: "\e96e";
}
.icons2-block:before {
  content: "\e96f";
}
.icons2-book:before {
  content: "\e970";
}
.icons2-bowl:before {
  content: "\e971";
}
.icons2-box:before {
  content: "\e972";
}
.icons2-briefcase:before {
  content: "\e973";
}
.icons2-browser:before {
  content: "\e974";
}
.icons2-brush:before {
  content: "\e975";
}
.icons2-bucket:before {
  content: "\e976";
}
.icons2-cake:before {
  content: "\e977";
}
.icons2-calculator:before {
  content: "\e978";
}
.icons2-calendar:before {
  content: "\e979";
}
.icons2-camera:before {
  content: "\e97a";
}
.icons2-ccw:before {
  content: "\e97b";
}
.icons2-chat:before {
  content: "\e97c";
}
.icons2-check:before {
  content: "\e97d";
}
.icons2-circle-with-cross:before {
  content: "\e97e";
}
.icons2-circle-with-minus:before {
  content: "\e97f";
}
.icons2-circle-with-plus:before {
  content: "\e980";
}
.icons2-circle:before {
  content: "\e981";
}
.icons2-circular-graph:before {
  content: "\e982";
}
.icons2-clapperboard:before {
  content: "\e983";
}
.icons2-clipboard:before {
  content: "\e984";
}
.icons2-clock:before {
  content: "\e985";
}
.icons2-code:before {
  content: "\e986";
}
.icons2-cog:before {
  content: "\e987";
}
.icons2-colours:before {
  content: "\e988";
}
.icons2-compass:before {
  content: "\e989";
}
.icons2-copy:before {
  content: "\e98a";
}
.icons2-credit-card:before {
  content: "\e98b";
}
.icons2-credit:before {
  content: "\e98c";
}
.icons2-cross:before {
  content: "\e98d";
}
.icons2-cup:before {
  content: "\e98e";
}
.icons2-cw:before {
  content: "\e98f";
}
.icons2-cycle:before {
  content: "\e990";
}
.icons2-database:before {
  content: "\e991";
}
.icons2-dial-pad:before {
  content: "\e992";
}
.icons2-direction:before {
  content: "\e993";
}
.icons2-document:before {
  content: "\e994";
}
.icons2-documents:before {
  content: "\e995";
}
.icons2-drink:before {
  content: "\e996";
}
.icons2-drive:before {
  content: "\e997";
}
.icons2-drop:before {
  content: "\e998";
}
.icons2-edit:before {
  content: "\e999";
}
.icons2-email:before {
  content: "\e99a";
}
.icons2-emoji-happy:before {
  content: "\e99b";
}
.icons2-emoji-neutral:before {
  content: "\e99c";
}
.icons2-emoji-sad:before {
  content: "\e99d";
}
.icons2-erase:before {
  content: "\e99e";
}
.icons2-eraser:before {
  content: "\e99f";
}
.icons2-export:before {
  content: "\e9a0";
}
.icons2-eye:before {
  content: "\e9a1";
}
.icons2-feather:before {
  content: "\e9a2";
}
.icons2-flag:before {
  content: "\e9a3";
}
.icons2-flash:before {
  content: "\e9a4";
}
.icons2-flashlight:before {
  content: "\e9a5";
}
.icons2-flat-brush:before {
  content: "\e9a6";
}
.icons2-folder-images:before {
  content: "\e9a7";
}
.icons2-folder-music:before {
  content: "\e9a8";
}
.icons2-folder-video:before {
  content: "\e9a9";
}
.icons2-folder:before {
  content: "\e9aa";
}
.icons2-forward:before {
  content: "\e9ab";
}
.icons2-funnel:before {
  content: "\e9ac";
}
.icons2-game-controller:before {
  content: "\e9ad";
}
.icons2-gauge:before {
  content: "\e9ae";
}
.icons2-globe:before {
  content: "\e9af";
}
.icons2-graduation-cap:before {
  content: "\e9b0";
}
.icons2-grid:before {
  content: "\e9b1";
}
.icons2-hair-cross:before {
  content: "\e9b2";
}
.icons2-hand:before {
  content: "\e9b3";
}
.icons2-heart-outlined:before {
  content: "\e9b4";
}
.icons2-heart:before {
  content: "\e9b5";
}
.icons2-help-with-circle:before {
  content: "\e9b6";
}
.icons2-help:before {
  content: "\e9b7";
}
.icons2-home:before {
  content: "\e9b8";
}
.icons2-hour-glass:before {
  content: "\e9b9";
}
.icons2-image-inverted:before {
  content: "\e9ba";
}
.icons2-image:before {
  content: "\e9bb";
}
.icons2-images:before {
  content: "\e9bc";
}
.icons2-inbox:before {
  content: "\e9bd";
}
.icons2-infinity:before {
  content: "\e9be";
}
.icons2-info-with-circle:before {
  content: "\e9bf";
}
.icons2-info:before {
  content: "\e9c0";
}
.icons2-key:before {
  content: "\e9c1";
}
.icons2-keyboard:before {
  content: "\e9c2";
}
.icons2-lab-flask:before {
  content: "\e9c3";
}
.icons2-landline:before {
  content: "\e9c4";
}
.icons2-language:before {
  content: "\e9c5";
}
.icons2-laptop:before {
  content: "\e9c6";
}
.icons2-leaf:before {
  content: "\e9c7";
}
.icons2-level-down:before {
  content: "\e9c8";
}
.icons2-level-up:before {
  content: "\e9c9";
}
.icons2-lifebuoy:before {
  content: "\e9ca";
}
.icons2-light-bulb:before {
  content: "\e9cb";
}
.icons2-light-down:before {
  content: "\e9cc";
}
.icons2-light-up:before {
  content: "\e9cd";
}
.icons2-line-graph:before {
  content: "\e9ce";
}
.icons2-link:before {
  content: "\e9cf";
}
.icons2-list:before {
  content: "\e9d0";
}
.icons2-location-pin:before {
  content: "\e9d1";
}
.icons2-location:before {
  content: "\e9d2";
}
.icons2-lock-open:before {
  content: "\e9d3";
}
.icons2-lock:before {
  content: "\e9d4";
}
.icons2-log-out:before {
  content: "\e9d5";
}
.icons2-login:before {
  content: "\e9d6";
}
.icons2-loop:before {
  content: "\e9d7";
}
.icons2-magnet:before {
  content: "\e9d8";
}
.icons2-magnifying-glass:before {
  content: "\e9d9";
}
.icons2-mail:before {
  content: "\e9da";
}
.icons2-man:before {
  content: "\e9db";
}
.icons2-map:before {
  content: "\e9dc";
}
.icons2-mask:before {
  content: "\e9dd";
}
.icons2-medal:before {
  content: "\e9de";
}
.icons2-megaphone:before {
  content: "\e9df";
}
.icons2-menu:before {
  content: "\e9e0";
}
.icons2-message:before {
  content: "\e9e1";
}
.icons2-mic:before {
  content: "\e9e2";
}
.icons2-minus:before {
  content: "\e9e3";
}
.icons2-mobile:before {
  content: "\e9e4";
}
.icons2-modern-mic:before {
  content: "\e9e5";
}
.icons2-moon:before {
  content: "\e9e6";
}
.icons2-mouse:before {
  content: "\e9e7";
}
.icons2-music:before {
  content: "\e9e8";
}
.icons2-network:before {
  content: "\e9e9";
}
.icons2-new-message:before {
  content: "\e9ea";
}
.icons2-new:before {
  content: "\e9eb";
}
.icons2-news:before {
  content: "\e9ec";
}
.icons2-note:before {
  content: "\e9ed";
}
.icons2-notification:before {
  content: "\e9ee";
}
.icons2-old-mobile:before {
  content: "\e9ef";
}
.icons2-old-phone:before {
  content: "\e9f0";
}
.icons2-palette:before {
  content: "\e9f1";
}
.icons2-paper-plane:before {
  content: "\e9f2";
}
.icons2-pencil:before {
  content: "\e9f3";
}
.icons2-phone:before {
  content: "\e9f4";
}
.icons2-pie-chart:before {
  content: "\e9f5";
}
.icons2-pin:before {
  content: "\e9f6";
}
.icons2-plus:before {
  content: "\e9f7";
}
.icons2-popup:before {
  content: "\e9f8";
}
.icons2-power-plug:before {
  content: "\e9f9";
}
.icons2-price-ribbon:before {
  content: "\e9fa";
}
.icons2-price-tag:before {
  content: "\e9fb";
}
.icons2-print:before {
  content: "\e9fc";
}
.icons2-progress-empty:before {
  content: "\e9fd";
}
.icons2-progress-full:before {
  content: "\e9fe";
}
.icons2-progress-one:before {
  content: "\e9ff";
}
.icons2-progress-two:before {
  content: "\ea00";
}
.icons2-publish:before {
  content: "\ea01";
}
.icons2-quote:before {
  content: "\ea02";
}
.icons2-radio:before {
  content: "\ea03";
}
.icons2-reply-all:before {
  content: "\ea04";
}
.icons2-reply:before {
  content: "\ea05";
}
.icons2-retweet:before {
  content: "\ea06";
}
.icons2-rocket:before {
  content: "\ea07";
}
.icons2-round-brush:before {
  content: "\ea08";
}
.icons2-rss:before {
  content: "\ea09";
}
.icons2-ruler:before {
  content: "\ea0a";
}
.icons2-scissors:before {
  content: "\ea0b";
}
.icons2-share-alternitive:before {
  content: "\ea0c";
}
.icons2-share:before {
  content: "\ea0d";
}
.icons2-shareable:before {
  content: "\ea0e";
}
.icons2-shield:before {
  content: "\ea0f";
}
.icons2-shop:before {
  content: "\ea10";
}
.icons2-shopping-bag:before {
  content: "\ea11";
}
.icons2-shopping-basket:before {
  content: "\ea12";
}
.icons2-shopping-cart:before {
  content: "\ea13";
}
.icons2-shuffle:before {
  content: "\ea14";
}
.icons2-signal:before {
  content: "\ea15";
}
.icons2-sound-mix:before {
  content: "\ea16";
}
.icons2-sports-club:before {
  content: "\ea17";
}
.icons2-spreadsheet:before {
  content: "\ea18";
}
.icons2-squared-cross:before {
  content: "\ea19";
}
.icons2-squared-minus:before {
  content: "\ea1a";
}
.icons2-squared-plus:before {
  content: "\ea1b";
}
.icons2-star-outlined:before {
  content: "\ea1c";
}
.icons2-star:before {
  content: "\ea1d";
}
.icons2-stopwatch:before {
  content: "\ea1e";
}
.icons2-suitcase:before {
  content: "\ea1f";
}
.icons2-swap:before {
  content: "\ea20";
}
.icons2-sweden:before {
  content: "\ea21";
}
.icons2-switch:before {
  content: "\ea22";
}
.icons2-tablet:before {
  content: "\ea23";
}
.icons2-tag:before {
  content: "\ea24";
}
.icons2-text-document-inverted:before {
  content: "\ea25";
}
.icons2-text-document:before {
  content: "\ea26";
}
.icons2-text:before {
  content: "\ea27";
}
.icons2-thermometer:before {
  content: "\ea28";
}
.icons2-thumbs-down:before {
  content: "\ea29";
}
.icons2-thumbs-up:before {
  content: "\ea2a";
}
.icons2-thunder-cloud:before {
  content: "\ea2b";
}
.icons2-ticket:before {
  content: "\ea2c";
}
.icons2-time-slot:before {
  content: "\ea2d";
}
.icons2-tools:before {
  content: "\ea2e";
}
.icons2-traffic-cone:before {
  content: "\ea2f";
}
.icons2-tree:before {
  content: "\ea30";
}
.icons2-trophy:before {
  content: "\ea31";
}
.icons2-tv:before {
  content: "\ea32";
}
.icons2-typing:before {
  content: "\ea33";
}
.icons2-unread:before {
  content: "\ea34";
}
.icons2-untag:before {
  content: "\ea35";
}
.icons2-user:before {
  content: "\ea36";
}
.icons2-users:before {
  content: "\ea37";
}
.icons2-v-card:before {
  content: "\ea38";
}
.icons2-video:before {
  content: "\ea39";
}
.icons2-vinyl:before {
  content: "\ea3a";
}
.icons2-voicemail:before {
  content: "\ea3b";
}
.icons2-wallet:before {
  content: "\ea3c";
}
.icons2-water:before {
  content: "\ea3d";
}
.icons2-500px-with-circle:before {
  content: "\ea3e";
}
.icons2-500px:before {
  content: "\ea3f";
}
.icons2-basecamp:before {
  content: "\ea40";
}
.icons2-behance:before {
  content: "\ea41";
}
.icons2-creative-cloud:before {
  content: "\ea42";
}
.icons2-dropbox:before {
  content: "\ea43";
}
.icons2-evernote:before {
  content: "\ea44";
}
.icons2-flattr:before {
  content: "\ea45";
}
.icons2-foursquare:before {
  content: "\ea46";
}
.icons2-google-drive:before {
  content: "\ea47";
}
.icons2-google-hangouts:before {
  content: "\ea48";
}
.icons2-grooveshark:before {
  content: "\ea49";
}
.icons2-icloud:before {
  content: "\ea4a";
}
.icons2-mixi:before {
  content: "\ea4b";
}
.icons2-onedrive:before {
  content: "\ea4c";
}
.icons2-paypal:before {
  content: "\ea4d";
}
.icons2-picasa:before {
  content: "\ea4e";
}
.icons2-qq:before {
  content: "\ea4f";
}
.icons2-rdio-with-circle:before {
  content: "\ea50";
}
.icons2-renren:before {
  content: "\ea51";
}
.icons2-scribd:before {
  content: "\ea52";
}
.icons2-sina-weibo:before {
  content: "\ea53";
}
.icons2-skype-with-circle:before {
  content: "\ea54";
}
.icons2-skype:before {
  content: "\ea55";
}
.icons2-slideshare:before {
  content: "\ea56";
}
.icons2-smashing:before {
  content: "\ea57";
}
.icons2-soundcloud:before {
  content: "\ea58";
}
.icons2-spotify-with-circle:before {
  content: "\ea59";
}
.icons2-spotify:before {
  content: "\ea5a";
}
.icons2-swarm:before {
  content: "\ea5b";
}
.icons2-vine-with-circle:before {
  content: "\ea5c";
}
.icons2-vine:before {
  content: "\ea5d";
}
.icons2-vk-alternitive:before {
  content: "\ea5e";
}
.icons2-vk-with-circle:before {
  content: "\ea5f";
}
.icons2-vk:before {
  content: "\ea60";
}
.icons2-xing-with-circle:before {
  content: "\ea61";
}
.icons2-xing:before {
  content: "\ea62";
}
.icons2-yelp:before {
  content: "\ea63";
}
.icons2-dribbble-with-circle:before {
  content: "\ea64";
}
.icons2-dribbble:before {
  content: "\ea65";
}
.icons2-facebook-with-circle:before {
  content: "\ea66";
}
.icons2-facebook:before {
  content: "\ea67";
}
.icons2-flickr-with-circle:before {
  content: "\ea68";
}
.icons2-flickr:before {
  content: "\ea69";
}
.icons2-github-with-circle:before {
  content: "\ea6a";
}
.icons2-github:before {
  content: "\ea6b";
}
.icons2-google-with-circle:before {
  content: "\ea6c";
}
.icons2-google:before {
  content: "\ea6d";
}
.icons2-instagram-with-circle:before {
  content: "\ea6e";
}
.icons2-instagram:before {
  content: "\ea6f";
}
.icons2-lastfm-with-circle:before {
  content: "\ea70";
}
.icons2-lastfm:before {
  content: "\ea71";
}
.icons2-linkedin-with-circle:before {
  content: "\ea72";
}
.icons2-linkedin:before {
  content: "\ea73";
}
.icons2-pinterest-with-circle:before {
  content: "\ea74";
}
.icons2-pinterest:before {
  content: "\ea75";
}
.icons2-rdio:before {
  content: "\ea76";
}
.icons2-stumbleupon-with-circle:before {
  content: "\ea77";
}
.icons2-stumbleupon:before {
  content: "\ea78";
}
.icons2-tumblr-with-circle:before {
  content: "\ea79";
}
.icons2-tumblr:before {
  content: "\ea7a";
}
.icons2-twitter-with-circle:before {
  content: "\ea7b";
}
.icons2-twitter:before {
  content: "\ea7c";
}
.icons2-vimeo-with-circle:before {
  content: "\ea7d";
}
.icons2-vimeo:before {
  content: "\ea7e";
}
.icons2-youtube-with-circle:before {
  content: "\ea7f";
}
.icons2-youtube:before {
  content: "\ea80";
}
